.footer-background {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
}

.footer-left {
  width: 33.3%;
  display: flex;
  justify-content: center;
}

.footer-center {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-right {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.branding-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.branding-wrapper img {
  height: auto;
  width: 10rem;
  border-radius: 100%;
}

.branding-wrapper h2 {
  font-size: 3rem;
}

.branding-wrapper > *:not(:last-child) {
  margin-right: 2rem;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  display: inline-block;
  margin: 1rem;
}


@media (max-width: 600px) {
  
}