@font-face {
  font-family: "Roboto-Slab";
  src: url("../fonts/RobotoSlab-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-VariableFont_wght.ttf");
}

:root {
  --fg-color: #a0a0a0;
  --bg-color: #333333;
  --fg-active-color: #ffffff;
  --accent-color: #2f2f2f;
  --outer-margin: 1.5rem;
}

h1 {
  font-family: "Roboto-Slab";
  color: var(--fg-color);
  font-weight: 500;
  font-size: max(4rem, 6vw);
}

h2, h3, p, a {
  font-family: "Quicksand";
  color: var(--fg-color);
  font-size: max(2rem, 2vw);
}

a {
  text-decoration: none;
}

a:hover, h2:hover {
  color: var(--fg-active-color);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(/img/background.jpg);
  background-size: cover;
}

header {
  margin: 0 var(--outer-margin);
}

header h1:first-of-type {
  margin-top: var(--outer-margin);
}

header h1:first-of-type {
  margin-right: 0.5rem;
}

nav {
  margin: 0 var(--outer-margin);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav > * {
  margin-bottom: 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin-bottom: var(--outer-margin);
  position: relative;
}

nav ul li {
  display: inline-block;
}

nav ul li:not(:last-of-type) {
  margin-right: 2rem;
}

nav ul li p {
  visibility: hidden;
  /* never do this :D */
}

#why {
  position: absolute;
  bottom: 15px;
  font-size: max(1rem, 1vw);
  white-space: nowrap;
}

.visible {
  visibility: visible;
}

@supports (-webkit-touch-callout: none) {
  
  body {
    height: 90vh;
  }
}