.footer-background {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}

footer {
  display:flex;
  flex-wrap: wrap;
  margin: 0.5rem;
  justify-content: center;
}

footer a {
  font-size: 1rem;
}


footer img {
  height: auto;
  width: 3rem;
  border-radius: 100%;
}

footer ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

footer ul li {
  display: flex;

}

footer ul li:not(:last-of-type) {
  margin-right: 1rem;
}