.header-background {
  width: 100%;
  display: flex;
  justify-content: center;
}

header {
  margin: var(--outer-margin);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
}

header nav ul li:not(:last-of-type) {
  margin-right: 1rem;
}