.main-background {
  display: flex;
  justify-content: center;
}

.timeline {
  margin: var(--outer-margin);
}

.timeline p {
  font-size: 1.5rem;
}

.timeline-element {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: var(--outer-margin);
}